version: "3.9"
services:
  backend:
    depends_on:
      - postgres
    build:
      target: local
      context: .
    ports:
      - "8081:8080"
      - "5005:5005"
    env_file:
      - .env

  postgres:
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
