services:
  postgres:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_PASSWORD: test
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  authserver:
    image: ghcr.io/navikt/mock-oauth2-server:0.5.1
    environment:
      TZ: Europe/Oslo
      SERVER_HOSTNAME: authserver
      SERVER_PORT: 6969
    ports:
      - 6969:6969

  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://zookeeper:2181" ]
      interval: 30s
      timeout: 10s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka
    depends_on:
      - zookeeper
    restart: always
    ports:
      - 9093:9093
      - 9092:9092
    environment:
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: false
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,BROKER://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: BROKER:PLAINTEXT,PLAINTEXT:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      #      KAFKA_LOG_FLUSH_INTERVAL_MESSAGES: Long.MAX_VALUE
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9093,BROKER://kafka:9092
      TZ: Europe/Oslo

  control-center:
    container_name: control-center
    image: confluentinc/cp-enterprise-control-center:latest
    depends_on:
      - kafka
    ports:
      - 9021:9021
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: kafka:9092
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      PORT: 9021

  backend:
    build:
      context: .
    depends_on:
      - postgres
      - kafka
      - authserver
    ports:
      - 8080:8080
      - 5005:5005
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://backend:8080/internal/isready" ]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      # Postgres env
      NAIS_DATABASE_LYDIA_API_LYDIA_API_DB_HOST: postgres
      NAIS_DATABASE_LYDIA_API_LYDIA_API_DB_PORT: 5432
      NAIS_DATABASE_LYDIA_API_LYDIA_API_DB_USERNAME: postgres
      NAIS_DATABASE_LYDIA_API_LYDIA_API_DB_PASSWORD: test
      NAIS_DATABASE_LYDIA_API_LYDIA_API_DB_DATABASE: postgres
      # Authserver env
      AZURE_APP_CLIENT_ID: lydia-api,
      AZURE_OPENID_CONFIG_ISSUER: http://authserver:6969/azure
      AZURE_OPENID_CONFIG_JWKS_URI: http://authserver:6969/azure/jwks
      FIA_SUPERBRUKER_GROUP_ID: ensuperbrukerGroupId
      FIA_SAKSBEHANDLER_GROUP_ID: ensaksbehandlerGroupId
      FIA_LESETILGANG_GROUP_ID: enlesetilgangGroupId
      TEAM_PIA_GROUP_ID: enTeamPiaGroupId
      # Kafka env
      KAFKA_BROKERS: "BROKER://kafka:9092,PLAINTEXT://kafka:9092"
      KAFKA_TRUSTSTORE_PATH: ""
      KAFKA_KEYSTORE_PATH: ""
      KAFKA_CREDSTORE_PASSWORD: ""
      STATISTIKK_TOPIC: arbeidsgiver.sykefravarsstatistikk-v1
      IA_SAK_HENDELSE_TOPIC: pia.ia-sak-hendelse-v1
      IA_SAK_TOPIC: pia.ia-sak-v1
      BRREG_OPPDATERING_TOPIC: pia.brreg-oppdatering
      # Backend spesifikk env
      BRREG_UNDERENHET_URL: /brregmock/enhetsregisteret/api/underenheter/lastned
      CONSUMER_LOOP_DELAY: 1
      SSB_NARINGS_URL: /naringmock/api/klass/v1/30/json
      NAIS_CLUSTER_NAME: "lokal"
      # Spesifikk for remote debugging
      JAVA_TOOL_OPTIONS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
volumes:
  postgres-data:
