name: Deploy alerts to NAIS
on:
  push:
    branches:
      - main
    paths:
      - .nais/alerts.yaml
      - .github/workflows/alerts-deploy-prod.yaml

permissions:
  id-token: write

jobs:
  apply-alerts:
    name: Apply alerts to cluster
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/alerts.yaml
