name: Deploy alerts (dev) to NAIS
on:
  push:
    branches:
      - main
    paths:
      - '.nais/alerts-dev.yaml'
      - '.github/workflows/alerts-deploy-dev.yaml'
jobs:
  apply-alerts:
    name: Apply alerts to cluster
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: deploy to dev
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/alerts-dev.yaml
