name: Deploy lydia-api topics
on:
  push:
    branches:
      - main
    paths:
      - .nais/topics/** # Deploy topics ved endringer i topics-mappen
      - .github/workflows/topics.yaml # Deploy topics ved endringer i topics.yaml

permissions:
  id-token: write

jobs:
  deploy:
    strategy:
      matrix:
        cluster: [dev, prod]
    name: Deploy app to ${{ matrix.cluster }}
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy topics to ${{ matrix.cluster }}
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: "\
            .nais/topics/jobblytter-topic.yaml,\
            .nais/topics/ia-sak-topic.yaml,\
            .nais/topics/ia-sak-statistikk-topic.yaml,\
            .nais/topics/ia-sak-status-topic.yaml,\
            .nais/topics/ia-sak-leveranse-topic.yaml,\
            .nais/topics/sporreundersokelse-topic.yaml,\
            .nais/topics/sporreundersokelse-antall-svar-topic.yaml,\
            .nais/topics/sporreundersokelse-svar-topic.yaml,\
            .nais/topics/sporreundersokelse-oppdatering-topic.yaml,\
            .nais/topics/fullfort-behovsvurdering-topic.yaml,\
            .nais/topics/behovsvurdering-bigquery-topic.yaml,\
            .nais/topics/sporreundersokelse-hendelse-topic.yaml,\
            .nais/topics/sporreundersokelse-hendelse-topic.yaml,\
            .nais/topics/samarbeidsplan-topic.yaml"
          VARS: .nais/${{ matrix.cluster }}.yaml
